* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

header {
    padding: 5px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

header h1 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

a.profile {
    color: black;
    font-weight: bold;
}

a.post,
a.group {
    color: blue;
}

.notifications {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}

.picture {
    width: 40px;
    height: 40px;
    background-color: rgb(190, 190, 190);
    box-sizing: border-box;
    border: 1px solid black;
    flex-shrink: 0;
}

.notification {
    padding: 15px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50px auto;
    gap: 10px;
}

.notification-content.picture-comment {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.notification-title {
    margin-bottom: 5px;
}

.date {
    color: gray;
}

.message-summary {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid gray;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}